<div class="front-sponsors">
<h3>Thanks to our Core Sponsors</h3>
<ul class="sponsor-listing">
    <li class="sponsor">
        <a href="{{url}}">
            <img src="{{logo}}" alt="{{alt-text}}" typeof="foaf:Image">
        </a>
    </li>

    <li class="sponsor">
        <a href="{{url2}}">
            <img src="{{logo2}}" alt="{{alt-text2}}" typeof="foaf:Image">
        </a>
    </li>

    <li class="sponsor">
        <a href="{{url}}">
            <img src="{{logo}}" alt="{{alt-text}}" typeof="foaf:Image">
        </a>
    </li>

    <li class="sponsor">
        <a href="{{url}}">
            <img src="{{logo}}" alt="{{alt-text}}" typeof="foaf:Image">
        </a>
    </li>

    <li class="sponsor">
        <a href="{{url3}}">
            <img src="{{logo3}}" alt="{{alt-text3}}" typeof="foaf:Image">
        </a>
    </li>    
</ul>
<p>Interested in sponsoring Drupal GovCon? See what's available <a href="/sponsor">here</a>.</p>
</div>