<ul class="sponsor-listing">
    <li class="sponsor">
        <a href="{{url}}">
            <img src="{{logo}}" alt="{{alt-text}}" typeof="foaf:Image">
        </a>
    </li>

    <li class="sponsor">
        <a href="{{url}}">
            <img src="{{logo}}" alt="{{alt-text}}" typeof="foaf:Image">
        </a>
    </li>

    <li class="sponsor">
        <a href="{{url}}">
            <img src="{{logo}}" alt="{{alt-text}}" typeof="foaf:Image">
        </a>
    </li>

    <li class="sponsor">
        <a href="{{url}}">
            <img src="{{logo}}" alt="{{alt-text}}" typeof="foaf:Image">
        </a>
    </li>
</ul>