<div class="user_profile_page">
	<div class="bio_photo">
  <img src="{{ image.source }}" alt="{{ image.alt }}">
  </div>
  <div class="bio_name">
    <h2>{{ firstname }} {{ lastname }}</h2>
   </div>
   <div class="bio_organization">
   <p>{{ organization }}</p>
   </div>
   <div class="bio_title">
   <p>{{ jobtitle }}</p>
   </div>
   <div class="bio_contact">
   <p class="sm_icons"><a href="{{ smdrupallink }}">{{ smdrupal }}</a><a href="{{ smtwitterlink }}">{{ smtwitter }}</a><a href="{{ smtwebsitelink }}">{{ smwebsite }}</a><a href="{{ smemaillink }}">{{ smemail }}</a></p>
   </div>
   <div class="bio_biography">
   <p>{{ bio }}</p>
   </div>
    
  </div>
  <div class="user_presentations">
  <h3>Sessions Presenting</h3>
  <p><a href="{{ urlpreso1 }}">{{ presentationone }}</a></p>
  <p><a href="{{ urlpreso2 }}">{{ presentationtwo }}</a></p>
  </div>
</div>
