{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 */
#}
<input type="checkbox" id="show-menu" class="toggle" role="button">
<label for="show-menu" class="toggle">
  <span class="visually-hidden">Show Menu</span>
  <div class="toggle__icon">
    <span class="toggle__icon-line"></span>
    <span class="toggle__icon-line"></span>
    <span class="toggle__icon-line"></span>
  </div>
</label>
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
  <ul{{ attributes.addClass('menu-main') }}>
  {% else %}
  <ul class="menu-submenu">
    {% endif %}
    {% for item in items %}
      {% if menu_level == 0 %}
        {% set class = 'menu-main__item' %}
      {% elseif menu_level == 1%}
        {% set class = 'menu-submenu__item' %}
      {% endif %}
      <li{{ item.attributes.addClass(class) }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
