<h2>Icon links with no text</h2>
<ul class="list-style-none">
  {% for item in icons %}
  <li>
    <a href="#" aria-label="{{item.title}}">
      <svg class="icon {{item.icon}}">
        <use xlink:href="#{{item.icon}}"></use>
      </svg>
    </a>
  </li>
  {% endfor %}
</ul>

<h2>Icon links with text</h2>
<ul class="list-style-none">
  {% for item in icons %}
  <li>
    <a href="#" aria-label="{{item.title}}">
      <svg class="icon {{item.icon}}">
        <use xlink:href="#{{item.icon}}"></use>
      </svg>
      {{item.label}}
    </a>
  </li>
  {% endfor %}
</ul>