{#
/**
 * @file
 * Template for a one-three-one column panel layout.
 */
#}
<div class="cog-pl panel-cog-layout-one-three-one" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--top">{{ content.top }}</div>
            </div>
        </div>
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--middle-left">{{ content.middle_left }}</div>
                <div class="cog-layout--middle-center">{{ content.middle_center }}</div>
                <div class="cog-layout--middle-right">{{ content.middle_right }}</div>
            </div>
        </div>
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--bottom">{{ content.bottom }}</div>
            </div>
        </div>
    </div>
</div>