<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes }}>
<!-- Hidden SVG sprite - must be available for use -->
<div class="svg-sprite">
  {% include active_theme_path() ~ '/images/svg-sprite/images.svg' %}
</div>
<!-- End SVG sprite -->
<div id="skip">
    <a class="visually-hidden focusable skip-link" href="#main-menu">
        {{ 'Skip to main navigation'|t }}
    </a>
</div>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
