{#
/**
 * @file
 * Template for a one-two-one-cl column panel layout.
 */
#}
<div class="cog-pl panel-cog-layout-one-two-three-one" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--top">{{ content.top }}</div>
            </div>
        </div>
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--first-middle-left">{{ content.first_middle_left }}</div>
                <div class="cog-layout--first-middle-right">{{ content.first_middle_right }}</div>
            </div>
        </div>
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--second-middle-left">{{ content.second_middle_left }}</div>
                <div class="cog-layout--second-middle-center">{{ content.second_middle_center }}</div>
                <div class="cog-layout--second-middle-right">{{ content.second_middle_right }}</div>
            </div>
        </div>
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--bottom">{{ content.bottom }}</div>
            </div>
        </div>
    </div>
</div>