<div class="homepagesponsors">
  <img src="{{ image.source }}" alt="{{ image.alt }}">
  <div class="secondarybanner__text">
    <h3>{{ title }}</h3>
    <p><a href="{{ url }}">{{ text }}</a></p>
  </div>
</div>
